@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

.myColor {
  background-color: #0c2033;
}

body {
  background-color: #0c2032;
  font-family: Arial, Helvetica, sans-serif;
}

.slideInUp {
  animation: slideInUp 0.8s ease-out 0.6s both;
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}